{#导入static模块#}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body style="background-image: url({% static 'vipapp01/images/742922242-1.jpg' %});
        background-size:100% 750%;background-repeat:no-repeat;">

<a href="{% url 'Top:login'  %}">跳转</a>

{#<a href="/123">跳转</a>#}

<form method="post" action="/Top/registerdetail/">
    {%csrf_token%}
    用户名:<input type="text" name="username"><br>
    密码:<input type="password" name="pwd"><br>
    手机号:<input type="number" name="phone"><br>
    <input type="submit" value="注册">
    <input type="submit" value="取消">
</form>

</body>
</html>